# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
ENV/
env/

# IDE specific files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.json
*.h5
*.pkl

# Output files
outputs/figures/*
!outputs/figures/.gitkeep
outputs/reports/*
!outputs/reports/.gitkeep

# Logs and databases
*.log
*.sqlite